<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="common/header :: head"></head>
</head>
<body>
	<div th:replace="common/header :: top-navigation">...</div>

	<div class="container">

		<div class="page-header">
			<h1>Stone Finac Cliente</h1> 
		</div>
		<p class="lead" th:text="'Ol&aacute;, ' + ${#request.getUserPrincipal().getName()} + '!'" />
		<p class="lead">
			Esta &eacute; a aplica&ccedil;&atilde;o cliente para realizar uma transa&ccedil;&atilde;o por cart&atilde;o
		</p>
		
	</div>

	<div th:replace="common/footer :: footer">...</div>
    
</body>
</html>