<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="common/header :: head"></head>
	
	<!-- Add additional custom css here - START -->
	
	
	<!-- Add additional custom css here - END -->
</head>
<body>
	<div th:replace="common/header :: top-navigation">...</div>

	<!-- Add page specific code/html START -->
	
	<div class="container">

		  <h2>Transa&ccedil;&atilde;o &nbsp;(Username: <spam th:text="${#request.getUserPrincipal().getName()}"></spam>)</h2>
		  <table class="table table-bordered">
		    <thead>
		      <tr>
		      	<th>Data Transa&ccedil;&atilde;o</th>
		        <th>Nome</th>
		        <th>N&uacute;mero</th>
		        <th>Bandeira</th>
		        <th>Valor</th>
		      </tr>
		    </thead>
		    
		    <tbody th:remove="all-but-first">
                <tr th:each="transacao : ${transacoes}">
                	<td th:text="${transacao.dataTransacao}"></td>
                	<td th:text="${transacao.cartao.nome}"></td>
                    <td th:text="${transacao.cartao.numero}"></td>
                    <td th:text="${transacao.cartao.bandeiraDoCartao}"></td>
                    <td th:text="${'$' + #numbers.formatDecimal(transacao.valor, 1, 2)}"></td>
                 </tr>
            </tbody>
		        
		  </table>	
		  	
	</div>
	
	<!-- Add page specific code/html END -->

	<div th:replace="common/footer :: footer">...</div>
    
</body>
</html>