<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="common/header :: head"></head>
	
	<!-- Add additional custom css here - START -->
	
	<link th:href="@{css/signin.css}" rel="stylesheet" media="screen" />
	
	<!-- Add additional custom css here - END -->
	
</head>
<body>
	

	<!-- Add page specific code/html START -->
	
	<div class="container">
	  
	  <div th:if="${param.logout}" class="form-signin alert alert-info">Voc&ecirc; foi desconectado</div>
	  <div th:if="${param.error}" class="form-signin alert alert-warning">Usu&aacute;rio ou senha inv&aacute;lidos, tente novamente</div>
	  <div th:if="${param.internalError}" class="form-signin alert alert-warning">Sistema indispon&iacute;vel no momento</div>  

	  <form class="form-signin" name="loginForm" th:action="@{/login}" action="/login" method="POST">	
	        <h2 class="form-signin-heading">Identifique-se</h2>
	        <label for="username" class="sr-only">Username</label>
	        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus" />
	        <label for="password" class="sr-only">Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required" />
	        
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	        <div><a th:href="@{/registro}">Quero me registrar</a></div>
       </form>
    </div> <!-- /container -->
    
	<!-- Add page specific code/html END -->

    
</body>
</html>