<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="common/headerSemLogin :: head"></head>
</head>
<body>
	<div th:replace="common/headerSemLogin :: top-navigation">...</div>

	<div class="container">

		<div class="page-header">
			<h1>Meu Registro</h1>
		</div>
		
		<div th:if="${success}" class="alert alert-success">Cliente cadastrado com sucesso</div>
		<div th:if="${erro}" class="alert alert-danger">	
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			<strong>Erro!</strong> N&atilde;o foi poss&iacute;vel cadastrar o cliente.
		</div>
		
	    <div class="form-group">
	        <label for="nome" class="control-label col-xs-2">Nome&nbsp;</label>
	        <div class="col-sm-10">
     				<p class="form-control-static" th:text="${cliente.nome}"></p>
   			</div>		        
	    </div>
		<div class="form-group">	
			<label for="tipoDocumento" class="control-label col-xs-2">Tipo Documento&nbsp;</label>
	        <div class="col-sm-10">
     				<p class="form-control-static" th:text="${cliente.tipoDocumento}"></p>
   			</div>		        
       	</div>
	    <div class="form-group">
	        <label for="documento" class="control-label col-xs-2">Documento&nbsp;</label>
	        <div class="col-sm-10">
     			<p class="form-control-static" th:text="${cliente.documento}"></p>
   			</div>		        
	    </div>
		
	    <div class="form-group">
	        <label for="username" class="control-label col-xs-2">Username&nbsp;</label>
	       	<div class="col-sm-10">
     			<p class="form-control-static" th:text="${cliente.username}"></p>
   			</div>		        
	    </div>
	    <div class="form-group">
	        <div class="col-xs-offset-2 col-xs-10">
	            <a class="btn btn-primary" href="#" th:href="@{/login}">Ir para  tela de Login</a>
	        </div>
	    </div>
		
	</div>
	<div th:replace="common/footer :: footer">...</div>
    
</body>
</html>